body {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    background: rgb(149,147,141);
    background: linear-gradient(90deg, rgba(149,147,141,1) 28%, rgba(198,197,189,1) 38%, rgba(30,26,26,0.6166667350533963) 79%);
    background-size: cover;
    background-attachment: fixed;
}

#container {
    display: flex;
    margin-top: 1%;
    height: 40em;
    width: 95em;
    border-radius: 10px;
}

canvas {
    background: rgb(255,255,255);
    background: linear-gradient(107deg, rgba(255,255,255,1) 0%, rgba(170,170,170,0.202) 100%);
    margin: 1em;
    border-radius: 15px;
}

input {
    cursor: pointer;
}

#file-label {
    font-size: 18px;
    text-align: center;
    background: whitesmoke;
    height: 25px;
    width: 120px;
    padding: 20px 10px 10px 10px;
    border-radius: 15px;
    cursor: pointer;
}

#buttons-area {
    margin: .7em .7em .7em auto;
    background: rgb(181,181,181);
    background: linear-gradient(90deg, rgba(181,181,181,0.5) 12%,
    rgba(181,181,181,1) 24%, rgba(181,181,181,0) 59%, rgba(181,181,181,0.9) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 15px;
}

.button-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    border-radius: 20px;
}


#file-input {
    cursor: pointer;
}

#save-button {
    font-size: 20px;
    padding: .5em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    background: whitesmoke;
}